
<div class="container">
    <br />
    <h2>Informacje o stronie</h2>
    <br />
    <p>Aplikacja została napisana przez Przemysława Jaworskiego.</p> 
    <p>Ma charakter jedynie edukacyjny i symuluje stronę kolei małopolskich.
    Daty i trasy są archiwalne.
    </p>
    <p>
        Panel administratora: Login: Przemek, hasło: 1234.
    </p>
</div>
