
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <p></p>
    <p align="center" style="font-size:30px">Wyszukaj połączenie Szybkiej kolei aglomeracyjnej</p>
    <form asp-action="Search">
        <div class="form-group">
            <label for="text">Pierwsza stacja </label>
            <input type="text" class="form-control" name="FirstPlace" />
        </div>
        <div class="form-group">
            <label for="text">Końcowa stacja </label>
            <input type="text" class="form-control" name="SecondPlace" />
        </div>
        <div class="form-group">
            <label for="time">Czas </label>
            <input type="time" class="form-control" name="Time" />
        </div>
        <button type="submit" class="btn btn-primary">Szukaj </button>
    </form>
</div>
<br />
    
