@model List<ScheduleStd>
    <br />
        <p align="center" font-size:30px"> Rozkład jazdy: @ViewBag.Name </p>
    <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Stacja</th>
                    <th>nr pociągu</th>
                    <th>Czas przyjazdu</th>
                </tr>
            </thead>
            @foreach (var x in Model)
            {
            <tbody>
                <tr>
                    <td>@x.Station</td>
                    <td>@x.Train</td>
                    <td>@x.TimeArrival</td>
                </tr>
            </tbody>
            }
        </table>
