@model List<ListToModel>

@{
ViewData["Title"] = "Home Page";
    }
    
<table class="table table-hover">
    <thead>
        <tr>
            <th>Pierwsza stacja </th>
            <th>Godzina odjazdu </th>
            <th>Końcowa Stacja</th>
            <th>Godzina przyjazdu</th>
            <th>Nr pociągu</th>
            <th>Rezerwuj trasę</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var x in Model)
            {
            <form asp-action="Reservation" method="get">
                <tr>
                    <td><input type="text" name="FS" readonly="readonly" value=@x.FirstStation /></td>
                    <td><input type="time" name="FA" readonly="readonly" value=@x.FirstArrival /></td>
                    <td><input type="text" name="SS" readonly="readonly" value=@x.SecondStation /></td>
                    <td><input type="time" name="SA" readonly="readonly" value=@x.SecondArrival /></td>
                    <td><input type="text" name="T" readonly="readonly" value=@x.Train /></td>
                    <td><input type="submit" value="Rezerwuj miejsce" /></td>
                </tr>
            </form>
            }
    </tbody>
</table>